# Ignore all the java class files

*.class
/BSC CS/SY/SEM-3/Java/java pract 7/Prac7b/build/
/BSC CS/SY/SEM-3/Java/java pract 7/Prac7b/dist/
/BSC CS/SY/SEM-3/Java/java pract 7/Prac7b/nbproject/private/
/BSC CS/SY/SEM-3/Java/java pract 8/Practical8A/dist/
/BSC CS/SY/SEM-3/Java/java pract 8/Practical8A/build/
/BSC CS/SY/SEM-3/Java/java pract 8/Practical8A/nbproject/private/
/BSC CS/SY/SEM-3/Java/java pract 7/Practical7b/nbproject/private/
/BSC CS/SY/SEM-3/Java/java pract 7/Practical7b/build/
/BSC CS/SY/SEM-3/Java/java pract 7/Practical7b/dist/
/BSC CS/SY/SEM-3/Java/java pract 7/Practical7a/build/
/BSC CS/SY/SEM-3/Java/java pract 7/Practical7a/dist/
/BSC CS/SY/SEM-3/Java/java pract 7/Practical7a/nbproject/private/
/BSC CS/SY/SEM-3/Java/java pract 8/prac8B/nbproject/private/
/BSC CS/SY/SEM-3/Java/java pract 8/prac8B/dist/
/BSC CS/SY/SEM-3/Java/java pract 8/prac8B/build/
/BSC CS/SY/SEM-3/Java/java pract 8/Practical8B/build/
/BSC CS/SY/SEM-3/Java/java pract 8/Practical8B/nbproject/private/
/BSC CS/SY/SEM-3/Java/java pract 6/Practical6/dist/
/BSC CS/SY/SEM-3/Java/java pract 6/Practical6/build/
