input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

.container {
    text-align: left;
    font-family: arial;
    width: 60%;
    margin: auto;
    height: auto;
    outline: dashed 0px black;
}

.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

#submit {
    background-color: darkcyan;
    color: aliceblue;
}

#successMessage {
    color: rgb(208, 87, 11);
}