<form (submit)="onSubmit()">
    <h2>Update Student Record</h2>
    <label for="rollNo">Roll No:</label>
    <input [(ngModel)]="student.rollNo" name="rollNo" id="rollNo" placeholder="Roll No">
    <label for="password">Password:</label>
    <input type="password" [(ngModel)]="student.password" name="password" id="password" placeholder="Password">
    <br>
    <label for="name">Name:</label>
    <input [(ngModel)]="student.name" name="name" id="name" placeholder="Name">
    <br>
    <br>
    <button type="submit">Update</button>
</form>
  