<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CurrencyConverterPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/practical_01_simple_web_service/CurrencyConverter"
                binding="basicHttpBinding" bindingConfiguration="CurrencyConverterPortBinding"
                contract="ServiceReference_Currency.CurrencyConverter" name="CurrencyConverterPort" />
        </client>
    </system.serviceModel>
</configuration>